<h4 class="adminBoardTitle">Admin Board</h4>
<div class="row">
  <div class="col-xm-12 col-sm-12 col-md-6 col-lg-6">
    <h5 class="usersTitle">Users</h5>

    <div class="user" *ngFor="let user of DBUsers">
      <h4>{{user.name}} - <span>{{ user.userStatus }}</span></h4>
      <div class="status" ng-show="state">
        <form #statusData="ngForm" (submit)="changeVolunteerStatusWithId(statusData.value,user.id)">
          <label for="userStatus">Status:</label>
          <select id="userStatus" class="form-control" required ngModel name="newStatus">
            <option>Volunteer</option>
            <option>Intern</option>
            <option>Junior</option>
            <option>Senior</option>
          </select>
          <div class="userBtns">
            <button class="btn btn-success btn-sm userEditStateBtn" type="submit">Save</button>
            <button class="btn btn-danger btn-sm userDeleteBtn" type="button" (click)="deleteUser(user.id)">Delete user</button>
          </div>
        </form>
      </div>
    </div>

  </div>
</div>
