.adminBoardTitle {
  margin: 20px 0px;
  text-align: center;
}

.title {
  text-align: center;
  margin: 20px 0px;
}

.user {
  margin: 40px 0px;
}

.userDeleteBtn {
  margin: 0px 20px;
}

.userBtns {
  margin-top: 15px;
}

.questionEditBtnToggler {
  margin-left: 5px;
  margin-right: 15px;
}

.question {
  margin: 40px 0px;
}

.editQuestionForm {
  margin: 20px 0px;
}

.error-message {
  color: red;
}
