<div class="row">
  <div class="col-xm-12 col-sm-12 col-md-6 col-lg-6">
    <h5 class="title">Users</h5>
    <div class="user" *ngFor="let user of DBUsers;let index=index">
      <h4>{{user.name}} - <span>({{ user.userStatus }}) {{ user.adminStatus==='admin' ? '-admin':'' }} </span></h4>
      <div class="status" ng-show="state">
        <form #statusData="ngForm" (submit)="changeVolunteerStatusWithId(statusData.value,user.id,index)">
          <label for="userStatus">Status:</label>
          <select id="userStatus" class="form-control" required ngModel name="newStatus">
            <option>Volunteer</option>
            <option>Intern</option>
            <option>Junior</option>
            <option>Senior</option>
          </select>
          <div class="userBtns">
            <button class="btn btn-success btn-sm userEditStateBtn" type="submit">Save</button>
            <button class="btn btn-danger btn-sm userDeleteBtn" type="button" (click)="deleteUser(user.id,index,user.name)">Delete
              user</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-xm-12 col-sm-12 col-md-6 col-lg-6">
    <h5 class="title">Questions</h5>
    <div class="question" *ngFor="let question of Questions;let i=index">

      <h5>{{question.content}} </h5>
      <button class="btn btn-primary btn-sm questionEditBtnToggler" (click)="toggleEditInput(i)">Edit</button>
      <div class="btn btn-danger btn-sm" (click)="deleteQuestion(question.id,i)">Delete</div>

      <div class="editQuestionForm" *ngIf="showChangeQuestionForm[i]">
        <form #editQuestion="ngForm" (submit)="saveEditedQuestion(editQuestion.value,question.id,i)">
          <label for="editQuestion">Edit this question:</label>
          <textarea class="form-control" rows="2" id="editQuestion" ngModel name="content" required></textarea>
          <button class="btn btn-success float-right btn-sm mt-1 mb-7" type="submit">Save</button>
        </form>
      </div>

    </div>
    <button class="btn btn-success btn-sm mt-3 mb-3 float-right" (click)="toggleAddNewQuestionBtn()">Add new Question</button>
    <div class="newQuestion" *ngIf="addNewQuestionFormToggle">
      <form #newQuestion="ngForm" (submit)="saveNewQuestion(newQuestion.value)">
        <textarea class="form-control" rows="2" id="newQuestion" ngModel name="content" required></textarea>
        <button class="btn btn-success btn-sm mt-1 mb-7" type="submit">Save</button>
      </form>
    </div>
  </div>
</div>
