<h1 class="loginText">Login</h1>

<div class="alert alert-danger" role="alert" *ngIf="errorMesage">
  {{errorMesage }}
</div>

<form #loginData="ngForm" (submit)="onSubmit(loginData.value)">

  <div class="form-group">
    <label for="username">Username</label>
    <input class="form-control {{loginUsername.touched && loginUsername.invalid ? 'is-invalid':''}}" id="username"
      aria-describedby="username" placeholder="Username" name="username" ngModel #loginUsername="ngModel" type="email"
      required>

    <div class="text-danger" *ngIf="loginUsername.touched && loginUsername.invalid">
      This field can't be empty.
    </div>
  </div>

  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control {{loginPassword.touched && loginPassword.invalid ? 'is-invalid':''}}" id="password"
      aria-describedby="Password" name="password" ngModel placeholder="Password" required #loginPassword="ngModel"
      minlength="4">
    <div class="text-danger" *ngIf="!loginPassword.valid && loginPassword.touched ">
      There should be more than 4 characters.
    </div>
  </div>
  <button class="btn btn-dark" [disabled]="loginData.invalid">Login</button>
</form>
